DB_URI=
DB_USERNAME=
DB_PASSWORD=
CLIENT_URL=
GF_USERNAME=
GF_PASSWORD=
OCR_PROVIDER=
OCR_OPENAI_MODEL=
OCR_GEMINI_MODEL=
OCR_PREPROCESS_MODE=
OCR_PREPROCESS_URL=
OCR_PREPROCESS_PYTHON_PATH=
OCR_PREPROCESS_WORKING_DIR=
OPENAI_API_KEY=
GEMINI_API_KEY=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS=
AWS_REGION=
UPLOAD_TOKEN_EXPIRY_MINUTES=