########################################
# 🗄️ Database Configuration
########################################

DB_URI=mongodb://localhost:27017/inventory
DB_USERNAME=dev
DB_PASSWORD=dev123

########################################
# 🐳 Docker Configuration
########################################

# Used only for CI/CD or tagging local images (not required for runtime)
DOCKER_USERNAME=robert
